@{
    ViewBag.Title = "Home Page";
}
<style>
    .caja_principal {
        padding: 3rem 2rem;
        margin-bottom: 2rem;
        background-color: #aec1d4;
        border-radius: .5rem;
    }

</style>
<p>
    @{ 
        CapaModelos.Usuario usuario = (CapaModelos.Usuario) Session["Usuario"];
        if(usuario == null)
        {
            usuario = new CapaModelos.Usuario();
        }
    }
</p>
<div class="caja_principal">
    <h1>Bienvenido @usuario.Nombre @usuario.Apellido</h1>
    <p class="lead">Intranet optimizado por estudiantes de UNMSM</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RESUMEN</h2>
        <p>
            TECNOSUR es una plataforma que facilita la gestión académica y administrativa de instituciones educativas,
            optimizando los procesos de registro, consulta y administración de información estudiantil y académica.
        </p>
    </div>
    <div class="col-md-4">
        <h2>INTEGRANTES G9</h2>
        <p>
            Clemente Ramos, Jhosselin Noelia<br>
            Leyva Saavedra, Wilson Eduardo<br>
            Pariona Malasquez, Alejandro<br>
            Perez Gamboa, Fiorella<br>
            Vasquez Cavero, Jesus<br>
            Vasquez Inga, Gerson
        </p>
    </div>
    <div class="col-md-4">
        <h2>ING de la INFORMACIÓN</h2>
        <p>
            Sistema Integral de Gestión Académica<br>
            Docente: Pablo Edwin Lopez Villanueva
        </p>
    </div>
</div>
